* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
}
section {
  background-color: white;
  width: 95%;
  height: 780px;
  font-family: "Lucida Sans";
  margin: 20px auto;
  border-radius: 14px;
  position: relative;
}
nav {
  background-color: #3f3d56;
  /* width: 220px; */
  width: 5%;
  height: 100%;
  float: left;
  transition: 0.3s ease-in-out;
  position: absolute;
}

ul {
  width: 100%;
  height: 100%;
  padding: 20px;
}
ul li {
  list-style: none;
}
nav ul li {
  height: 60px;
  line-height: 60px;
  width: 100%;
}
li a {
    text-decoration: none;
    color: white;
}
.toggle-nav{
  position: absolute;
  left: 6%;
  top: 8px;
  transition: 0.5s;
cursor: pointer;
}
input.checkbox-nav:checked ~ nav{
    width: 20%;
}
input.checkbox-nav:checked ~ label .fa-times{
display: inline-block;
}
input.checkbox-nav:checked ~ label .fa-bars{
display: none;
}
input.checkbox-nav:checked ~ label.toggle-nav{
  left: 21%
}
input.checkbox-nav:checked ~ nav li span{
  display: inline-block;
}

label .fa-times{
  display: none;
  color: #333;
}
ul {
  width: 100%;
  height: 100%;
  padding: 20px;
}
input {
  display: none;
  width: 74px;
  height: 47px;
}
nav ul li a span{
  display: none;
}
main{
  width: 95%;
  height: 100%;
  float: right;
  padding: 10px 30px;
}
main header{
  display: flex;
  justify-content: flex-end;
}
main header a{
  padding: 0 5px;
  margin: 0 15px 
}
.main-content {
  width: 100%;
  height: 80%;
  margin: 0 auto;
}
.main-content .banner{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main-content .banner .content,
.main-content .banner img {
  width: 50%
}
.main-content .tittle h1 {
  font-size: 80px;
}
.content .title h3,
.content .title h1 {
padding: 2px 0 2px 50px;
color: #333;
}
.main-content .banner p{
  line-height: 27px;
  padding: 2px 0 2px 50px;
text-align: justify;
/* background-color: green; */
}
.main-content > p{
  text-align: center;
}
.main-content .projects {
  margin: 0 auto;
}
.project ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.project ul li {
  width: 100%;
  max-width: 300px;
  height: 350px;
  border: #333 1px solid ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px #333;
  background-color:  #fff;
  background-color: rgba(0, 218, 182, 0.07);
  border: 0;
}
.projects li h3 {
  text-transform: uppercase;
  font-weight: 900;
}
li .stacks {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 30px;
}
.btns {
  display: flex;
  gap: 5px;
  padding: 10px;
}
.projects .bnts a {
  width: 100%;
}
.projects .btns button {
  width: 100%;
  padding: 10px 0;
  border: 0;
  cursor: pointer;
}
.btns button:hover {
  background-color: #3f3d56;
  transition: ease-in-out 0.3s;
  color: #fff;
}
.toggle-nav {
  position: absolute;
  top: 10px;
  left: 6%;
}
label .fa-times {
  display: none;
}